@page
@model TimeTracker.Portal.Areas.Settings.Pages.JobModel
@{
    ViewData["Title"] = "Druhy práce";
}

<!--AJAX POST needed-->
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
    }
}

<div class="row">
    <div class="col-12">
        <table id="dataTable" class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jobs[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                    <tr id="rowId-@Html.DisplayFor(modelItem => item.Id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="project-actions text-right">
                            <a id="href-edit-@item.Id" class="btn btn-info btn-sm" asp-page="" asp-page-handler="Edit" asp-route-id="@item.Id" asp-fragment="div-edit">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Upravit
                            </a>
                            <a id="href-delete-@item.Id" href="#" class="btn btn-danger btn-sm text-white" onclick="deleteDetail(@item.Id)">
                                <i class="fas fa-trash">
                                </i>
                                Smazat
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@{
    //Detail edit
    if (Model.IsEditable)
    {
        <div id="div-edit" class="row mt-5">
            <div class="col-12">
                <div id="card-edit" class="card">
                    <div class="card-header">
                        <h3 class="card-title h6">Editace druhu práce</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            @{
                                if (Model.JobDetail != null)
                                {
                                    <input type="hidden" asp-for="JobDetail.Id" />
                                }
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="JobDetail.Name" class="control-label"></label>
                                <input asp-for="JobDetail.Name" class="form-control" />
                                <span asp-validation-for="JobDetail.Name" class="text-danger"></span>
                            </div>
                            <!--Tlačítka dole-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="submit" value="Uložit" class="btn btn-info float-right" style="margin-right: 5px;" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!-- Modal - potvrzení smazání záznamu -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Odstranění druhu práce</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Opravdu chcete odstranit tento druh práce?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět</button>
                <button id="delete-confirm" type="button" class="btn btn-danger" data-dismiss="modal">Odstranit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @foreach (var item in Model.Jobs)
    {
        @if (item.TaskTracks.Count > 0)
        {
            <script>
            $(document).ready(function () {
                $('#href-delete-@item.Id').removeAttr('href').addClass('disabled').attr('aria-disabled', 'true');
            });
            </script>
        }
    }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#dataTable').DataTable({
                "language": {
                    "url": '/lib/datatables-language/cs.json'
                },
                "ordering": true,
                "searching": true,
                "paging": true,
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "info": false,
                "stateSave": true,
                "order": [[0, "asc"]],
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [2],
                        "orderable": false,
                        "searchable": false,
                        "width": "20%"
                    }],
                "dom": '<"clear">l<"toolbar">frtip',
                "initComplete": function (settings, json) {
                    $("div.toolbar").html('<a href="/Settings/Job?id=0&amp;handler=Edit#div-edit" class="btn btn-sm btn-info float-left"><i class="nav-icon fas fa-edit"></i> Nový druh práce</a><button class="btn btn-sm btn-default float-left ml-2" onclick="resetTable()"><i class="nav-icon fas fa-filter"></i> Obnovit výchozí filtrování</button>');

                }
            });
        });
    </script>

    <script>
    function deleteDetail(deleteId) {
        $('#delete-confirm').unbind('click').on('click', function (id) {
            $.ajax({
                type: "POST",
                url: "/Settings/Job?handler=Delete",
                data: { id: deleteId },
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                statusCode: {
                    400: function (response) {
                        toastr.error(response.responseText);
                    },
                    404: function () {
                        toastr.error("Záznam nebyl nalezen.");
                    }
                },
                success: function (response) {
                    var inputText = "#rowId-".concat(String(deleteId));
                    dataTable.row(inputText).remove().draw();
                    toastr.success('Druh práce byl úspěšně odstraněn.');
                },
            });
        });
        $('#delete-modal').modal('show');
    };
    function resetTable() {
        dataTable.state.clear();
        window.location.reload();
        };
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
}